body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
  background: #111;
}

button { cursor: pointer; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 0;
}

#bg-container {
  position: fixed;
  inset:0;
  z-index: -1; /* خلف كل العناصر */
  pointer-events: none; /* الكليك لا يتأثر */
}

.bg-item {
  position: absolute;
  user-select: none;
  will-change: transform;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  0% { transform: translate(0,0) rotate(0deg);}
  50% { transform: translate(var(--dx,2px),var(--dy,-2px)) rotate(var(--rot,3deg));}
  100% { transform: translate(var(--dx2,-2px),var(--dy2,2px)) rotate(var(--rot2,-3deg));}
}

/* ---------- game ---------- */
.game-container {background: linear-gradient(#00ffff45,#ff00d048);
   position: relative;
   z-index: 1; width: 100%;
    height: 100%; display: flex; flex-direction: column; align-items: center; padding-top: 20px; }
h1 { color: #ff00ff; font-size: 2.7rem; text-shadow: 0 0 20px #ff00ff; margin-bottom: 10px; }
#infoBar { display: flex; gap: 15px; margin-bottom: 10px; font-size: 1.3rem; color: #ff00d0; text-shadow: 0 0 10px #0693ea; }
#gameBoard {border-radius: 30px; display: grid; grid-template-columns: repeat(3, 130px); gap: 20px; margin-top: 10px; cursor: url(../images/hammer.png) 16 16, auto; }
.hole { width: 130px; height: 130px; background: rgb(238, 87, 188); border-radius: 50%; overflow: hidden; position: relative; box-shadow: 0 0 15px #00ffff inset; transition: 0.3s; }
.hole.caught { transform: scale(1.1); box-shadow: 0 0 30px #ff00ff inset; background: rgba(255,0,255,0.2); }
.mole { width: 100px; position: absolute; bottom: -120%; left: 50%; transform: translateX(-50%); transition: bottom 0.25s ease; }
.mole.up { bottom: 0; }
#topButtons { display: flex; gap: 15px; margin-bottom: 15px; }
.btn-custom { background: linear-gradient(#00ffff,#f0f); color: #fff; padding: 8px 18px; border-radius: 10px; border: none; box-shadow: 0 0 10px #00ffff; transition: 0.2s; }
.btn-custom:hover { transform: scale(1.1); }
.result-box { position: absolute; z-index: 20; inset: 0; backdrop-filter: blur(6px); display: none; flex-direction: column; justify-content: center; align-items: center; color: white; gap: 15px; text-align: center; }
.result-box h1 { font-size: 50px; margin: 0; color: #ffcc00; text-shadow: 0 0 15px #ff00ff; }
.result-box p { font-size: 20px; color: #00ffff; }
.result-box #resultButtons { display: flex; gap: 10px; margin-top: 15px; background: linear-gradient(#00ffff,#f0f); border-radius: 10px; width: 150px; justify-content: center; }
